[Desktop Entry]
Encoding=UTF-8

Name=Freelords
GenericName=Turn-based strategy game
GenericName[de]=Rundenbasiertes Strategiespiel
GenericName[it]=Gioco Strategico a turni
Comment=A clone of W#rl#rds
Comment[de]=Ein Klon von W#rl#rds
Comment[it]=Un clone di W#rl#rds

Type=Application
Exec=freelords
Icon=freelords
Terminal=false
Categories=StrategyGame;X-SDL;

